<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="addr" value="net.tcp://127.0.0.1:22222/ServerService"/>
    <add key="addr1" value="net.tcp://127.0.0.1:22222/SecutritySvc"/>
    <add key="addr2" value="net.tcp://127.0.0.1:22223/ClientWCFSvc"/>
    <add key="addr3" value="net.tcp://127.0.0.1:22224/AdminWCFSvc"/>
    <add key="addrHttp" value="http://127.0.0.1:22223/ServerService"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PortName" value="COM3"/>
    <add key="Example" value="Example"/>
    <add key="File" value="Exp1"/>
    <add key="ConnectionBD" value="Data Source=guille\sqlexpress;Initial Catalog=SCADALog;Integrated Security=True;Pooling=False"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="BioSCADA.WCFServices.ServerService">        
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding" 
                  contract="BioSCADA.WCFServices.IClientWCFSvc"/>        
      </service>
      <service name="BioSCADA.WCFServices.SecuritySvc">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding" 
                  contract="BioSCADA.WCFServices.ISecuritySvc"/>
      </service>
      <service name="BioSCADA.WCFServices.ClientWCFSvc">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="BioSCADA.WCFServices.IClientWCFSvc"/>
      </service>
      <service name="BioSCADA.WCFServices.AdminWCFSvc">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="BioSCADA.WCFServices.IAdminWCFSvc"/>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="00:21:00">
          <reliableSession enabled="true" inactivityTimeout="03:00:10"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>      
    </bindings>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />

    <system.data>
      <DbProviderFactories>
        <remove invariant="System.Data.SQLite"/>
        <add name="SQLite Data Provider" invariant="System.Data.SQLite"
             description=".Net Framework Data Provider for SQLite"
             type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      </DbProviderFactories>
    </system.data>
  </startup>


</configuration>
