<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
 
  <system.serviceModel>
    <services>
      <service  name="BioSCADA.WCFServices.ServerService" behaviorConfiguration="MyBehavior">        
        <endpoint name="httpEP" binding="wsHttpBinding" bindingName="DuplexBinding1"
                  address="" contract="BioSCADA.WCFServices.IClientWCFSvc"/>
        
        <host>          
          <baseAddresses >
            <add baseAddress="http://localhost:1033/ServerService"/>
          </baseAddresses>
        </host>
      </service>

      <service  name="BioSCADA.WCFServices.SecuritySvc" behaviorConfiguration="MyBehavior">
        <endpoint name="httpEP" binding="wsHttpBinding" bindingName="DuplexBinding1"
                  address="" contract="BioSCADA.WCFServices.ISecuritySvc"/>
        <host>
          <baseAddresses >
            <add baseAddress="http://localhost:1033/SecuritySvc"/>
          </baseAddresses>
        </host>
      </service>

      <service  name="BioSCADA.WCFServices.ClientWCFSvc" behaviorConfiguration="MyBehavior">
        <endpoint name="httpEP" binding="wsHttpBinding" bindingName="DuplexBinding1"
                  address="" contract="BioSCADA.WCFServices.IClientWCFSvc"/>
        <host>
          <baseAddresses >
            <add baseAddress="http://localhost:1033/ClientWCFSvc"/>
          </baseAddresses>
        </host>
      </service>

      <service  name="BioSCADA.WCFServices.AdminWCFSvc" behaviorConfiguration="MyBehavior">
        <endpoint name="httpEP" binding="wsHttpBinding" bindingName="DuplexBinding1"
                  address="" contract="BioSCADA.WCFServices.IAdminWCFSvc"/>
        <host>
          <baseAddresses >
            <add baseAddress="http://localhost:1033/AdminWCFSvc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceThrottling maxConcurrentSessions="10000" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>

      <netTcpBinding>
        <binding name="DuplexBinding" sendTimeout="00:00:05">
          <reliableSession enabled="true" inactivityTimeout="00:00:10" />
          <security mode="Transport" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="DuplexBinding1" sendTimeout="00:00:05">
          <reliableSession enabled="true" inactivityTimeout="00:00:10" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
